body {
  background-color: lightblue;
}
h1{
  color: navy;
  margin-left: 20px;
  }
p {
  color: gray;
}
footer{
	background-color: #00BFFF;
   color: #fff;
   padding: 20px;
   text-align: center;
}
img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
