body {
  background-color: lightblue;
}
h1{
  color: navy;
  margin-left: 20px;
  }
p {
  color: gray;
}
footer{
	background-color: darkblue;
   color: #fff;
   padding: 20px;
   text-align: center;
}

