
body {
	background-color: beige;
}
nav {
	display:flex;
	flex-direction:row:
}
header {
 background-color: yellow;
	
}
li {
	list-style-type:none;
	padding-top: 20px;
}
 img {
    display: block;
    width: 100%;
    height: auto;
  }
.logo img {
	width:100px;
	height:auto;
}
main {
	display:flex;
}
