nav li {
	float: right;
    
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #0C1820;
	text-align: center;
    color: white;
}

li a {
	display: block;
    color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
    
}

body {
	background-color: #0C2333;
 	
 }
 
 
footer {
	background-color: #0C1820;
    
}
 
h1, h2, h3 {
	text-align: center;
	color: white;
    font-family: cursive;
}

p {
	color: #708698;

} 

img {

	display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
    width: 50%;

}
