
	li {align:center;}
	body {background:grey;}
	h1 {text-align:center; font-family:papyrus;}
    ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
	a {
  display: block;
  padding: 8px;
  background-color: #4f4a49;
  color: #ece4e3;
}

	img {width: 60%; height: 60%; align:center;
    	border: 6px solid #080909;
        border-radius: 8px;}
        
        header {background-color: navy;}

